
# Ignore system files
*.swp
.DS_Store
Thumbs.db

# Ignore package manager cache
.cache/
.npm/
.paru/
.venv/

# Ignore temporary files
/tmp/
*.log

# Ignore SSH keys & credentials
.ssh/
.gitconfig.local

# Ignore personal stuff
Desktop/
Documents/programming/projects
Documents/programming/rust_course
Documents/programming/todo.md
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/

# Ignore only the lazy directory inside .local/share/nvim
.local/share/nvim/lazy/

# Ignore Neovim-related files
.local/share/nvim/blink/cmp/fuzzy.db/
.local/share/nvim/mason/
.local/share/nvim/telescope_history
.local/state/nvim/
.jsregexp

# Ignore system-specific logs and cache files
*.log

# Development environment tools
.cargo/
.pyenv/
.rbenv/
.rustup/

# System-specific files
.viminfo
.wget-hsts
codelldb-linux-x64.vsix


# Ignore Neovim plugin data (Lazy, Mason, etc.)
.local/share/nvim/lazy/
.local/share/nvim/mason/
.local/share/nvim/telescope_history
.local/state/nvim/mason-registry-update

# Ignore Neovim session and shada files
.local/state/nvim/shada/
.local/state/nvim/lazy/
.local/state/nvim/mason-registry-update

# Ignore logs
.local/share/nvim/mason/packages/*/libexec/log/
.bash_history
*.mdb
